// TRIANGLE

@mixin triangle ($side: "up", $size: 15px, $color: black) {
  display: inline-block;
  width: 0;
  height: 0;

  @if $side=="up" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }

  @else if $side=="down" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }

  @else if $side=="left" {
    border-top: $size solid transparent;
    ;
    border-right: $size solid $color;
    border-bottom: $size solid transparent
  }

  @else if $side=="right" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}

// MEDIA

@mixin breakpoint-down ($max-screen) {
  @media only screen and (max-width: $max-screen) {
    @content;
  }
}

@mixin breakpoint-up ($min-screen) {
  @media only screen and (min-width: $min-screen) {
    @content;
  }
}

@mixin breakpoint-between ($min-screen, $max-screen) {
  @media only screen and (min-width: $min-screen) and (max-width: $max-screen) {
    @content;
  }
}

// RESET-LIST

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}