.site__header {
  background-color: $midnight-green;
}

.site__header .container {
  display: flex;
  align-items: baseline;
  padding: 73px 20px;
}

.logo {
  flex-shrink: 0;
}

.header__logo {
  margin-right: 80px;
}

.site__nav {
  display: flex;
  flex-grow: 1;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.nav__list {
  @include reset-list;
  display: flex;
  align-items: baseline;
  margin-right: 20px;
}

.nav__item+.nav__item {
  margin-left: 40px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $main-white;
  transition: color 0.3s ease;

  &:hover {
    color: $light-coral;
  }
}

.header__contact-link {
  display: inline-block;
  margin-left: auto;
}

.hamburger {
  margin-left: auto;
  width: 20px;
  height: 17px;
  display: none;
  background-color: transparent;
  background-image: url("../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

@include breakpoint-down(620px) {

  .site__header .container {
    align-items: center;
    padding: 48px 20px;
  }

  .logo__img {
    width: 128px;
    height: 32px;
  }

  .site__nav {
    display: none;
  }

  .site__nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .nav__wrapper {
    width: 70%;
    height: 100%;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    padding-top: 112px;
    padding-left: 48px;
    background-color: $police-blue;
    background-image: url("../img/nav-back.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
  }


  .nav__list {
    flex-direction: column;
    margin: 0;
    margin-right: auto;
    margin-bottom: 36px;
    padding: 0;
  }

  .nav__item+.nav__item {
    margin-left: 0;
    margin-top: 24px;
  }

  .header__contact-link {
    margin-left: 0;
    margin-right: auto;
  }

  .hamburger {
    display: block;
    z-index: 100;
    outline: none;
    opacity: 1;
  }

  .hamburger:focus {
    opacity: 0.9;
    outline: none;

  }

  .hamburger--active {
    position: fixed;
    top: 60px;
    right: 20px;
    background-image: url("../img/icon-close.svg");
  }

  .hamburger--active+.site__nav {
    display: block;
  }
}